.home-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-image: url("../../../assets/images/a2.jpg") !important;
  // justify-content: center;
  align-items: center;
  padding-top: 20px;
  overflow: auto;
  .box-wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
  }
  .box {
    width: 225px;
    height: 225px;
    background-image: url("../../../assets/images/a3.jpg") !important;
    display: flex;
    flex-direction: column;
    border-radius: 25%;
    margin-right: 20px;
    align-items: center;
  }
  .a2 {
    background-image: url("../../../assets/images/a4.jpg") !important;
  }
}

button {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background: linear-gradient(90deg, rgba(2,0,36,0.8939950980392157) 0%, rgba(37,9,121,0.8687850140056023) 35%, rgba(196,2,229,1) 66%, rgba(255,0,86,0.8407738095238095) 100%);
  color: white;
  font-size: 20px;
  font-weight: bold;
  outline: white;
  cursor: pointer;
}


