.projects-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: yellow;
  align-items: center;
  padding-top: 20px;
  .projects-header {
    display: flex;
    flex-direction: row;
  }
}
